/* VARIABLES */
:root {
    --color-main: #000;
    --color-off: #555;
    --color-back: #333;
    --color-white: #fff;
}

/* BASE STYLES */
* { margin: 0; font-family: "Noto Sans", sans-serif; }

body {
    width: 100%; 
    height: auto; 
    background-color: 
        var(--color-back); 
    padding: 40px 0; 
}

@media screen and (max-width: 960px) { 
    body { background-color: var(--color-white); padding: 0; padding-top: 10px; } 
}


h1, h2, h3, h4, h5, h6 { font-family: "Noto Serif", serif; }

.wrapper { 
    max-width: 960px; 
    padding: 0 40px; 
    box-sizing: border-box; 
    display: block; 
    margin: 0 auto; 
    background-color: var(--color-white);
}


/* HEADER */

header {  }
    
header .wrapper { padding: 20px 0; }

    header h1 { text-align: center; font-size: 42px; font-weight: 800; }

    header p { text-align: center; font-size: 16px; margin-top: 10px; color: var(--color-off); }

    header nav { 
        width: 70%;
        margin: 0 auto;
        margin-top: 20px; 
        display: block;
    }

    header nav ul {
        display: flex; 
        list-style-type: none;
        justify-content: center;
        padding: 0;
    }
    
        header nav ul li { text-align: center; width: 120px; }
            header nav ul li a { 
                color: var(--color-main);
                padding: 1px 2px; 
                text-decoration: none;
                font-size: 18px;
            }
                header nav ul li a:hover { 
                    text-decoration: underline;
                }
                header nav ul li a:visited { 
                    color:var(--color-main);
                }
                header nav ul li a:active { 
                    color: var(--color-main);
                }

/* MAIN */

main {  }
    main .wrapper {  }
    main .post { margin-top: 40px; padding: 30px 0; }
        main .post h3 { font-size: 28px; text-align: center; }
        main .post span { 
            display: block;
            color: var(--color-off); 
            font-size: 12px;
            text-align: center; 
            margin-top: 10px; }
        main .post p { line-height: 1.8; margin-top: 15px; font-size: 14px; }
    @media screen and (max-width: 960px) { 
        main .post { margin-top: 0; }
    }