/* VARIABLES */
:root {
    --color-main: #000;
    --color-off: #555;
    --color-back: #333;
    --color-white: #fff;
}

/* BASE STYLES */
* { margin: 0; font-family: "Noto Sans", sans-serif; }

body {
    width: 100%; 
    height: auto; 
    background-color: 
        var(--color-back); 
    padding: 40px 0; 
}

h1, h2, h3, h4, h5, h6 { font-family: "Noto Serif", serif; }

a { color: #000; text-decoration: none; }
a:hover { color: #000; text-decoration: underline; }
a:visited { color: #000; }

.wrapper { 
    width: 70%;
    max-width: 960px; 
    padding: 0 40px; 
    box-sizing: border-box; 
    display: block; 
    margin: 0 auto; 
    background-color: var(--color-white);
}

@media screen and (max-width: 960px) { 
    body { background-color: var(--color-white); padding: 0; padding-top: 10px; } 
    .wrapper { width: 100%; }
}

/* HEADER */

header {  }
    
header .wrapper { padding: 20px 0; }

    header h1 { text-align: center; font-size: 42px; font-weight: 800; }

    header p { text-align: center; font-size: 16px; margin-top: 10px; color: var(--color-off); }

    header nav { 
        width: 70%;
        margin: 0 auto;
        margin-top: 20px; 
        display: block;
    }

    header nav ul {
        display: flex; 
        list-style-type: none;
        justify-content: center;
        padding: 0;
    }
    
        header nav ul li { text-align: center; width: 120px; }
            header nav ul li a { font-size: 18px; }

/* MAIN */

main {  }
    main .wrapper {  }
    main .post { margin-top: 40px; padding: 30px 0; }
        main .post h3 { font-size: 28px; text-align: center; }
        main .post span { 
            display: block;
            color: var(--color-off); 
            font-size: 12px;
            text-align: center; 
            margin-top: 10px; }
        main .post p { line-height: 1.8; margin-top: 15px; font-size: 14px; }
    main .about p { text-align: center; font-size: 16px; color: var(--color-off) }
    main .about h3 { font-size: 24px; }
        main .about h3:not(:first-of-type) { margin-top: 60px; }
    main .about a { text-decoration: underline; }
    main .archive h3 { font-size: 48px; }
        main .archive h3:not(:first-of-type) { margin-top: 30px; margin-bottom: 10px; }
    main .archive ul { text-align: center; list-style-type: none; padding: 0; }
        main .archive ul li { font-size: 16px; margin-bottom: 10px; }
    @media screen and (max-width: 960px) { 
        main .post { margin-top: 0; }
    }
    